<div class="card">
  <header class="card-header">
    <h2>{{ post.title }}</h2>
    <small>{{ post.date | date:'dd.MM.yyyy' }}</small>
  </header>

  <div class="">
    <small>{{ post.author }}</small>
  </div>

  <button 
    class="btn btn-dark"
    [routerLink]="['/post', post.id]"
  >Open</button>
</div>