<div *ngIf="this.posts.length else loading">

  <div class="form-control">
    <input type="text" placeholder="find post" [(ngModel)]="searchString">
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let post of posts | searchPosts:searchString; let idx = index">
        <td>{{ idx + 1 }}</td>
        <td>{{ post.author }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.date | date:'medium':null:'es' }}</td>
        <td>
          <button style="margin-right: 1rem;" class="btn btn-link" [routerLink]="['/admin', 'post', post.id, 'edit']">Edit</button>
          <a (click)="remove(post.id)">Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <h3 class="text-center">
    loading posts ...
  </h3>
</ng-template>