<app-alert></app-alert>

<nav class="navbar bg-primary">
  <h1>
    <a routerLink="/">NG admin</a>
  </h1>

  <ul *ngIf="this.auth.isAuthenticated()">
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'dashboard']">Dashboard</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/admin', 'create']">Create post</a></li>
    <li><a href="#" (click)="logout($event)">Log out</a></li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>