<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h1>Log in to admin page</h1>

  <div class="alert alert-danger" *ngIf="this.auth.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{ message }}
  </div>

  <div 
    class="form-control"
    [ngClass]="{ invalid: form.get('email').touched && form.get('email').invalid }"
  >
    <label for="email">Email:</label>
    <input type="email" placeholder="type your e-mail" autocomplete="on" formControlName="email">
    <div 
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid"
    >
      <small *ngIf="form.get('email').errors.required">Required</small>
      <small *ngIf="form.get('email').errors.email">Address is invalid</small>
    </div>
  </div>

  <div 
    class="form-control"
    [ngClass]="{ invalid: form.get('password').touched && form.get('password').invalid }"
  >
    <label for="password">Password:</label>
    <input type="password" placeholder="type your password" autocomplete="off" formControlName="password">
    <div 
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small *ngIf="form.get('password').errors.required">Field is required</small>
      <small *ngIf="form.get('password').errors.minlength">
        Password has only {{form.get('password').errors.minlength.actualLength}} digits.
        Must contain {{form.get('password').errors.minlength.requiredLength}}.
      </small>
    </div>
  </div>

  <button
   class="btn btn-primary"
   type="submit"
   [disabled]="form.invalid || submitted"
  >Log In</button>
</form>