form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
}

form h1 {
  text-align: center;
  background: #f4f4f4;
  margin-bottom: 1rem;
}

form button {
  align-self: flex-end;
}