<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <h1 class="title">dit <span>ost</span></h1>

    <div 
        class="form-control"
        [ngClass]="{ invalid: form.get('title').touched && form.get('title').invalid }"
      >
        <label for="title">Enter title:</label>
        <input type="text" id="title" placeholder="your title" autocomplete="on" formControlName="title">
      
      <div 
        class="validation"
        *ngIf="form.get('title').touched && form.get('title').invalid"
      >
        <small *ngIf="form.get('title').errors.required">Required</small>
      </div>
    </div>

    <div class="form-control">
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitted">Save</button>
  </form>
</div>

<ng-template #loading>
  <h2>Loading ...</h2>
</ng-template>