form {
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;

  
  & h1 {
    text-align: center;
  }

  display: flex;
  flex-direction: column;

  & button {
    align-self: flex-end;
  }
}

.title::before,
.title span::before {
  animation: flipLetters 0.07s cubic-bezier(0.075, 0.82, 0.165, 1) 2s 4 alternate backwards;
}

.title::before {
  content: 'E';
  display: inline-block;
}

.title span::before {
  content: 'P';
  display: inline-block;
}

@keyframes flipLetters {
  0% { transform: rotateY(180deg) }

  50% { transform: rotateY(90deg) }

  100% { transform: rotateY(-180deg) }
}