.post {
  border: 1px solid #4d8989;
  padding: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin-bottom: .5rem;
  }

  .info {
    margin-bottom: 1rem;
    strong {
      margin-right: 1rem;
    }
  }

}