<div *ngIf="post$ | async as post; else loading">
  <div class="post">
    <header class="header">
      <h1>{{ post.title }}</h1>

      <button routerLink="/" class="btn btn-link">Go back</button>
    </header>

    <div class="info">
      <strong>{{ post.author }}</strong>
      <small>{{ post.date | date:'dd.MM.yyyy' }}</small>
    </div>

    <div class="text">
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>
  </div>
</div>
<ng-template #loading>
  <h3 class="text-center">loading post ...</h3>
</ng-template>