<form class="form card" [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="title">reate <span>ost</span></h1>

  <div 
    class="form-control"
    [ngClass]="{ invalid: form.get('title').touched && form.get('title').invalid }"
  >
    <label for="title">Enter title:</label>
    <input type="text" id="title" placeholder="your title" autocomplete="on" formControlName="title">
    
    <div 
      class="validation"
      *ngIf="form.get('title').touched && form.get('title').invalid"
    >
        <small *ngIf="form.get('title').errors.required">Required</small>
    </div>

  </div>


  <div class="form-control">
    <label>Content of post</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>


  <div 
    class="form-control"
    [ngClass]="{ invalid: form.get('author').touched && form.get('author').invalid }"
  >
    <label for="author">Enter your name:</label>
    <input type="text" id="author" placeholder="author" autocomplete="on" formControlName="author">
    
    <div 
      class="validation"
      *ngIf="form.get('author').touched && form.get('author').invalid"
    >
        <small *ngIf="form.get('author').errors.required">Required</small>
    </div>
    
  </div>


  <button class="btn btn-dark" type="submit" [disabled]="form.invalid">Have fun!</button>
</form>
