<div 
  class="posts"
  *ngIf="posts$ | async as posts; else loading"
>
  <app-post
    *ngFor="let post of posts"
    [post]="post"
  >

  </app-post>

</div>

<ng-template #loading>
  <h3 class="text-center">loading posts ...</h3>
</ng-template>
